<div class="sidebar-panel sidebar-category">
    <h3>分类</h3>
    <ul class="category-list">
    {{ range $key, $value := .Site.Taxonomies.categories }}
      <li class="category-item">
          <a class="category-item-link" href="/categories/{{$key}}">
            <span>{{ $key | humanize }}</span>  
            <span class="category-length">{{ len $value }}</span>
        </a>
      </li>
    {{ end }}
    </ul>
</div>

<div class="sidebar-panel sidebar-tag">
    <h3>标签</h3>
    <ul class="tag-list">
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <li class="tag-item">
          <a class="tag-item-link" href="/tags/{{$key}}">
            <span>{{ $key | humanize }}</span>
        </a>
      </li>
    {{ end }}
    </ul>
</div>

<div class="sidebar-panel sidebar-post">
    <h3>最新文章</h3>
    <ul class="post-list">
    {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "post" | first .Site.Params.postRecentCount ) }}
        <li class="post-item">
            <a class="post-item-link" href="{{ .Permalink }}">
                <span class="date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
                <span class="title">{{ .Title }}</span>
                {{ range .Params.categories }}
                <span class="category">{{ . }}</span>
                {{end}}
            </a>
        </li>
    {{end}}
    </ul>
</div>

{{if site.RegularPages.RelatedIndices . "tags"}}
<div class="sidebar-panel sidebar-post">
    <h3>相关文章</h3>
    <ul class="post-list">
    {{ range site.RegularPages.RelatedIndices . "tags" | first .Site.Params.postRelateCount  }}
        <li class="post-item">
            <a class="post-item-link" href="{{ .Permalink }}">
                <span class="date">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
                <span class="title">{{ .Title }}</span>
                {{ range .Params.categories }}
                <span class="category">{{ . }}</span>
                {{end}}
            </a>
        </li>
    {{end}}
    </ul>
</div>
{{end}}